.logo{
  cursor: pointer;
}
.nav-container{
  background-color: #abc7d4;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(31, 30, 30);
    cursor: pointer;
    padding: 5px  10px;
    text-decoration: none;
       position: relative;
  }

  .nav-item::after{
    content: "";
    background-color: #ff3c78;
    position: absolute;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10;
    transition: 0.3s;
  }
  .nav-item:hover{
    color:#FFFF;
  }
  .nav-item:hover::after{
    width: 100%;
  }