.icon {
  margin-right: 10px;
  height: 50px;
  width: 50px;
    font-size: 30px;
    list-style: none;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    display: block;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
  }
  .icon:hover {
   transform: translate(0,-10px);
   color: skyblue;
  }
  .footer-menu {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: red;
  }
  .footer-container {
    background-color: #abc7d4;
    padding: 50px;
    color: black;
  }
  .footer-phone-icon {
    font-size: 20px;
    color: white;
    margin-right:5px ;
  }